<section class="featured-restaurant">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="restaurant-item">
            <img src="img/breakfast_item.jpg" alt="">
            <div class="text-content">
              <h4>Kale Chips Art Party</h4>
              <p>Dreamcatcher squid ennui cliche chicharros nes echo  small batch jean shorts hexagon street art knausgaard wolf...</p>
              <div class="text-button">
                <a href="#">
                  Menu
                  <i class="fa fa-angle-double-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="restaurant-item">
            <img src="img/lunch_item.jpg" alt="">
            <div class="text-content">
              <h4>Taiyaki Gastro Tousled</h4>
              <p>Dreamcatcher squid ennui cliche chicharros nes echo  small batch jean shorts hexagon street art knausgaard wolf...</p>
              <div class="text-button">
                <a href="#">
                  Menu
                  <i class="fa fa-angle-double-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="restaurant-item">
            <img src="img/dinner_item.jpg" alt="">
            <div class="text-content">
              <h4>Batch Squid Jean Shorts</h4>
              <p>Dreamcatcher squid ennui cliche chicharros nes echo  small batch jean shorts hexagon street art knausgaard wolf...</p>
              <div class="text-button">
                <a href="#">
                  Menu
                  <i class="fa fa-angle-double-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
