<section class="featured-restaurant">
    <div class="container">
      <div class="row">
        
        <div *ngFor="let item of restaurants" class="col-md-4">
          <div class="restaurant-item">
            <img src="../../assets/images/"+item.photo alt="">
            <div class="text-content">
              <h4>{{item.name}}</h4>
              <p>{{item.description}}</p>
              <div class="text-button">
                <a href="#">
                  Menu
                  <i class="fa fa-angle-double-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
