<section class="banner">
  <div class="container-fluid">

        <p style="font-size: 2rem; font-family: Georgia, serif; letter-spacing: 1.5px;">Order <span class="text-italic" style="font-size: 2.8rem; font-family: 'Brush Script MT', cursive;">Food Online From</span> The Best Restaurant</p>
        <form class="d-flex justify-content-center my-5" >
          <div class="row justify-content-center" style="background-color: #facc00; padding: 1rem 0.2rem;">
            <div class="col-md-4">
              <input type="search" class="form-control" placeholder="Restaurant Name" />
            </div>
            <div class="col-md-4">
              <select class="form-select form-select-lg form-control" aria-label="Default select example">
                <option selected>select city</option>
                <option *ngFor="let item of cities" value="item.id">{{item.name}}</option>
                <option value="1">One</option>
              </select>
            </div>
            <div class="col-md-3">
              <div class="primary-button">
                <button type="submit">Search</a>
              </div>
            </div>
          </div>
  
        </form>
  </div>
</section>

<router-outlet></router-outlet>
